@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* -webkit-font-smoothing: antialiased; */
}
